/* Nav */
a.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.navbar {
    background-color: #336699;
}

.navbar a {
    color: white !important;
}   

.dropdown-menu a {
    color: black !important;
}

.dropdown-menu a:hover {
    background-color:#3F7FBF;
    color: white !important;
}

/* Configuracion del usuario  */

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid gray ;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nombre-avatar {
    margin-left: 15px;
    color: #3F7FBF;
    font-weight: bold;
    font-size: 16px;
}

.avatar-nav {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.avatar-nav img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nick-config {
    margin-bottom: 30px;
}

#image_path {
    border: none;
    padding-left: 0;
}

#image_path:hover {
    box-shadow: none;
}

#image_path:focus {
    box-shadow: none;
}

/* Inicio / posts */

.avatar_inicio {
    width: 35px;
    border-radius: 50%;
}

.nick_inicio {
    color: #3F7FBF;
    margin-left: 10px;
    font-weight:600;
    font-size: 16px;
}

/* Publicacion  */

.card {
    margin-bottom: 20px;
}

.card-header .fecha_publicacion {
    color: gray;
    float: right;
    margin-top: 5px;
    margin-bottom: 0px;
}

.container_publicacion {
    padding: 0;
}

.publicacion {
    width: 100%;
}

.descripcion {
    padding: 0 20px 0px 20px;
}

.descripcion .comentarios {
    color: gray;
    text-decoration:none;
}

.descripcion .fecha {
    color: gray;
}

.descripcion .nick a{
    color: #3F7FBF;
    font-weight:600;
    font-size: 16px;
}

.acciones_publicacion {
    padding: 20px 0 0 20px;
    font-size: 24px;
    position: relative;
}

.acciones_publicacion a {
    color: gray;
}

.acciones_publicacion a:nth-child(2) {
    position: absolute;
    top: 18px;
    padding-left: 20px;
}

.heart_red { /* Boton de like en rojo */
    color: rgb(237, 73, 86);
}

.btndislike {
    color: grey;
}

.card .me_gusta {
    margin: 10px 0 0 0px;
    color: #3F7FBF;
    font-weight: bold;
    font-size: 16px;
}

/* Detalle de la publicacion al ver los comentarios  */

textarea {
    resize: none;
    width: 100% !important;
    margin-left: 0px !important;
    margin-top: 20px;
}

.public_comentario .form-control {
    border-radius: 0px;
    padding-left: 20px;
}


.public_comentario .form-control:focus {
    border-color: #a1cbef !important;
    outline: 0 none !important;
    box-shadow: none;
}

.comentarios {
     padding: 0px 20px 0 20px;
     text-justify: initial;
}   

.comment_user button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.button_public_comment {
    margin-top: 20px;
}

.comentarios .comment_nick {
    color: #3F7FBF;
    font-weight: bold;
}

.comment_user {
    margin-bottom: 10px;
}

.public_comentario button {
    cursor: pointer;
}

.user_comment_fecha {
    color: gray;
}

.comment_user .delete_comment {
    color: gray;
    float: right;
}

.modal_detail_publicacion ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 0px;
}

.modal_detail_publicacion ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.modal_detail_publicacion ul li:nth-child(2) {
    border-bottom: none;
}

.modal_detail_publicacion a {
    font-size: 16px;
    text-decoration: none;
}

.modal_detail_advertencia a{
    position: relative !important;
    top: 0px !important;
    padding: .375rem .75rem !important;
    color: white !important;
}
/* Perfil */

.perfil .col-4 {
    padding: 0;
}

.perfil .card {
    margin: 0px;
}

.perfil .container_publicacion img {
    object-fit: cover;
    height: 15vw;
    padding: 0.5vw;
}

.perfil_usuario img {
    border-radius: 50%;
    float: left;
    width: 150px;
}

.perfil_usuario .nick {
    font-size: 24px;
    color: black;
    float: left;
    margin-left: 30px;
}

.perfil_usuario a {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #dbdbdb;
    margin-top: 2px;
    margin-left: 20px;
    color: #262626;
    border-radius: 5%;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
}

.container_publicacion {
    position: relative;
}

.container_publicacion .ver_publicacion {
    position: absolute;
    left: 3%;
    top: 3%;
    
    width: 94%;
    object-fit: cover;
    height: 14vw;
    color: transparent;
}

.container_publicacion .ver_publicacion:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Media querys */

@media (max-width: 992px) {
    .perfil_usuario img {
        width: 17vw;
    }
  }


